[Unit]
Description=Lock screen automatically
After=default.target
Requisite=default.target

[Service]
ExecStart=/usr/bin/xautolock -time 3 -corners ---- -locker 'slock'

[Install]
WantedBy=desktop-session.target
