[Unit]
Description=Hipchat
After=default.target
Requires=default.target

[Service]
ExecStart=/usr/bin/hipchat
Environment=DISPLAY=:0
Restart=on-abort

[Install]
WantedBy=desktop-session.target
