[Unit]
Description=Synaptic daemon

[Service]
ExecStart=/usr/bin/redshift
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=desktop-session.target
