[Unit]
Description=Synaptic daemon
After=default.target
Requires=default.target

[Service]
ExecStart=/usr/bin/syndaemon -KRt -i 1.0
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=desktop-session.target
