[Unit]
Description=xrandr auto
After=default.target
Requisite=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrandr --output DisplayPort-1 --mode 1920x1080 --pos 3840x0 --rotate right --output DisplayPort-0 --mode 1920x1080 --pos 0x664 --rotate normal --output DVI-0 --mode 1920x1080 --pos 1920x424 --rotate normal

[Install]

WantedBy=default.target
